@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

*{
    font-family: 'DM Sans', sans-serif;
}

@layer utilities {

    .active-link{
      @apply  bg-primary_blue hover:bg-opacity-90 transition ease-in-out text-white cursor-pointer px-4 py-4 rounded-xl text-lg font-medium;
    }



    @variants dark {
      
      .filter-grayscale {
        filter: grayscale(50%);
      }
    }
  }